<!DOCTYPE html>
<html>
  <head>
    <title>MAP GENERATOR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/index.js" > </script>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <form>
          <h2>MAP GENERATOR</h2>
          <p>
              <label for="rows">Rows:</label>
              <input type="number" id="rows" value="10">
          </p>
          <p>
              <label for="cols">Columns:</label>
              <input type="number" id="cols" value="10">
          </p>
          <p>
              <label for="noise">Noise:</label>
              <input type="number" placeholder="" id="noise" value="0.03">
              <!-- <label>Seed:</label><input type="number" placeholder="Set the seed"> -->
            </p>
            <p>
              <label for="ocean">Ocean:</label>
              <input type="checkbox" placeholder="" id="ocean">
            </p>
            <p>
              <label for="hex">Filename for hexagonal grid:</label>
              <input type="text" id="hex" value="test_hex.png">
            </p>
            <p>
              <label for="map">Filename for map:</label>
              <input type="text" id="map" value="test_map.png">
            </p>
            <p>
              <label for="wkt">Filename for wkt ouput:</label>
              <input type="text" id="wkt" value="test_wkt.txt">
            </p>

              <h3>SET THE DISTRIBUTION</h3>
            <p>
              <label for="grassland">Grasslands:</label>
              <input type="number" id="grassland" value="0.4">
            </p>
            <p>
              <label for="dessert">Dessert:</label>
              <input type="number" id="dessert" value="0.25">
            </p>
            <p>
              <label for="forest">Forests:</label>
              <input type="number" id="forest" value="0.15">
            </p>
            <p>
              <label for="water">Waterbody:</label>
              <input type="number" id="water" value="0.05">
            </p>
            <p>
              <label for="mountain">Mountains:</label>
              <input type="number" id="mountain" value="0.15">
            </p>
            <p>
            </p>
        </form>
        <p class="submit">
          <button id="setParams" onclick=submit()>Set Params</button>
          <button id="generate" onclick=generate()>Generate</button>
        </p>
      </div>
      <div class="image">
        {% block image %} {% endblock %}
      </div>
    </div>
  </body>
</html>
